/* MOBILE VERSION */
@media(max-width:768px){
    header{
        background-color: skyblue;
    }
    header>nav{
        text-align: center;
        padding: 20px;
    }
    header>nav>ul{
        float: none;
    }
    header>nav>ul>li{
        display: block;
    }
    .banner1{
        background-color: grey;
    }
    .banner2{
        background-image: url(../images/img2.jpg);
    }
    .banner3{
        background:linear-gradient(orange,black);
    }
    .banner4{
        background:  repeating-linear-gradient(45deg, rgba(72, 0, 255, 0.7),  rgba(131, 1, 103, 0.7) 50%);
    }
    .banner5{
        background: url(../images/img11.jpg) no-repeat left, url(../images/img22.jpg) no-repeat right;
        background-size:contain;
    }
    .banner6{
        background: linear-gradient(rgba(149, 0, 255, 0.6),  rgba(128, 70, 0, 0.6)), url(../images/img22.jpg) no-repeat center;
        background-size: cover;
    }
}   
/* TABLET VERSION */
@media(min-width:769px) and (max-width:1200px){
    header{
        background-color: teal;
    }
    header>nav{
        text-align: center;
        padding: 20px;
    }
    header>nav>ul{
        float: none;
    }
    .banner1{
        background-color: blueviolet;
    }
    .banner2{
        background-image: url(../images/img3.jpg);
    }
    .banner3{
        background:linear-gradient(brown,green);
    }
    .banner4{
        background:  repeating-linear-gradient(45deg, rgba(0, 255, 89, 0.7),  rgba(86, 131, 1, 0.7) 50%);
    }
    .banner5{
        background: url(../images/img5.jpg) no-repeat left, url(../images/img7.jpg) no-repeat right;
        background-size:contain;
    }
    .banner6{
        background: linear-gradient(rgba(0, 100, 255, 0.179),  rgba(128, 0, 62, 0.6)), url(../images/img6.jpg) no-repeat center;
        background-size: cover;
    }
}